extends layout

block content
  h1= books.title
  p= books.author
  p= books.genre
  p= books.year


  a(href="../") &larr; Back  | 
  a(href="/books/edit/" + books.id )  Edit Book    |
  a(href="/books/delete/" + books.id )     Delete Book